body {
  height: 100vh;
  text-align: center;
}

.miLogo {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

header {
  background: -webkit-gradient(
    radial,
    -66.44% -152.13%,
    121.76,
    57.56% 66.87%,
    3404.35,
    color-stop(0.0358, rgb(239, 222, 251)),
    color-stop(0.2785, rgb(174, 228, 255)),
    color-stop(0.3616, rgb(250, 239, 254)),
    color-stop(0.3842, rgb(249, 231, 254)),
    color-stop(0.4186, rgb(248, 210, 253)),
    color-stop(0.4604, rgb(245, 176, 252)),
    color-stop(0.4677, rgb(244, 169, 252)),
    color-stop(0.4958, rgb(227, 146, 252)),
    color-stop(0.555, rgb(178, 97, 239)),
    color-stop(0.6307, rgb(118, 0, 255)),
    color-stop(0.6547, rgb(124, 0, 255)),
    color-stop(0.6881, rgb(142, 0, 255)),
    color-stop(0.7269, rgb(172, 0, 255)),
    color-stop(0.7621, rgb(205, 0, 255))
  );
}
.chatbot-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 80vh;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 20px;
}
.carousel {
  margin-left: 8%;
  margin-right: 8%;
}

ul.slides {
  display: block;
  position: relative;
  height: 400px;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none; 
}


.slide-container { 
  display: block; 
  height: 85%;
}

.slide-image {
  display: block;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}   

.slide-image img {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-self: center;
  justify-self: center;
  margin: auto;
}
.logo-container {
  position: relative;

}
#company-logo {
  top: 0;
  left: 0;
  position: absolute;
  max-width: 8rem;
  max-height: 10rem;
  padding: 5%;
  z-index: 8;
}
#map-slide {
  width: 90%;
  height: 100%;
  align-self: center;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
   display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,


input:checked + .slide-container .nav label { display: block; }

.message-container {
  position: relative;
  background: #de38b4;
  color: #FFFFFF;
  filter: drop-shadow(-3px 6px 3px rgba(163, 163, 163, 0.98));
  text-align: center;
  width: 75%;
  height: 200px;
  border-radius: 10px;
  margin-left: 13%;
  margin-top: 10px;
  margin-right: 5%;
  padding: 2px;
}

.message-container:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent #de38b4;
  border-width: 17px 0 17px 24px;
  top: 73%;
  right: -24px;
}
.message-text {
  font-family: sans-serif;
  font-size: 12px;
  padding: 8px;
  text-align: left;
}