<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movable Ink</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/about.css') }}"
    />
  </head>
  <body>
    <header>
      <img
        class="miLogo"
        src="{{ url_for('static', filename= 'images/logo.jpg') }}"
        align="center"
        alt="Company Logo"
      />
    </header>
    <div class="grid">
      <div class="messages">
        <img
          class="logo"
          src="{{ img_url }}"
          align="center"
          alt="Company Logo"
        />
        <p class="gridOne"></p>
      </div>
      <div class="messages">
        <img
          class="logo"
          src="{{ img_url }}"
          align="center"
          alt="Company Logo"
        />{{ value }}
      </div>
      <div class="messages">
        <img
          class="logo"
          src="{{ img_url }}"
          align="center"
          alt="Company Logo"
        />{{ value }}
      </div>
      <div class="messages">
        <img
          class="logo"
          src="{{ img_url }}"
          align="center"
          alt="Company Logo"
        />{{ value }}
      </div>
    </div>
    <script src="/static/js/events.js"></script>
  </body>
</html>
