<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movable Ink</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/about.css') }}"
    />
  </head>
  <body>
    <header>
      <img
        class="miLogo"
        src="{{ url_for('static', filename= 'images/logo.jpg') }}"
        align="center"
        alt="Company Logo"
      />
    </header>
    <div class="chatbot-container">
      <div class="carousel">
        <ul class="slides">
          <input type="radio" name="radio-buttons" id="img-1" checked />
          <li class="slide-container">
            <div class="slide-image">
              <div class="logo-container">
                <img
                id="company-logo"
                src="{{ img_url }}"
                alt="Company Logo"
                />
                <img id="map-slide" src="/static/images/Redistricting.jpg" />
              </div>
            </div>
            <div class="carousel-controls">
              <label for="img-3" class="prev-slide">
                <span>&lsaquo;</span>
              </label>
              <label for="img-2" class="next-slide">
                <span>&rsaquo;</span>
              </label>
            </div>
          </li>
          <input type="radio" name="radio-buttons" id="img-2" />
          <li class="slide-container">
            <div class="slide-image">
              <div class="logo-container">
              <img
              id="company-logo"
              src="{{ img_url }}"
              alt="Company Logo"
              />
              <img id="slide" src="/static/images/cart.png" />
              </div>
            </div>
            <div class="carousel-controls">
              <label for="img-1" class="prev-slide">
                <span>&lsaquo;</span>
              </label>
              <label for="img-3" class="next-slide">
                <span>&rsaquo;</span>
              </label>
            </div>
          </li>
          <input type="radio" name="radio-buttons" id="img-3" />
          <li class="slide-container">
            <div class="slide-image">
                <div class="grid-parent">
                   {% for name, image in dic.items() %}       
                    <div class="p{{loop.index + 1}}"><img id="productImage" src="{{image}}" /> <br><b>{{name}}</b></div>
                   {% endfor %}
                  </div>
            </div>
            <div class="carousel-controls">
              <label for="img-2" class="prev-slide">
                <span>&lsaquo;</span>
              </label>
              <label for="img-1" class="next-slide">
                <span>&rsaquo;</span>
              </label>
            </div>
          </li>
          <div class="carousel-dots">
            <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
            <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
          </div>
        </ul>
      </div>
      <div class="message-container">
        <div class="message-text"> {{ value }} </div>
      </div>
    </div>
    <script src="/static/js/events.js"></script>
  </body>
</html>
