<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movable Ink</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
  </head>
  <body>
    <div class="chatbot-container">
      <div class="header">
        <h1>Movable Ink Solutions Bot</h1>
        <img
          class="logo"
          src="{{ img_url }}"
          align="center"
          alt="Company Logo"
        />
      </div>
      <!-- <img
        class="mp"
        src="{{ url_for('static', filename= 'images/mpimage.jpeg') }}"
        align="left"
        alt="Company Logo"
      /> -->
      <div class="message-container">
        <div class="messages">
          <!-- This is where the message will be displayed -->
          {{value}}
        </div>
      </div>
      <div class="input-form">
        <form autocomplete="off" method="POST" action="">
          <input
            type="text"
            name="textEntry"
            id="message"
            placeholder="Please Enter Your Company Name"
          />
          <button class="submit" type="submit" value="Submit">Push</button>
        </form>
      </div>
    </div>
    <script src="/static/js/events.js"></script>
  </body>
</html>
