<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MI Chatbot</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
  </head>
  <body>
    <div class="chatbot-container">
      <div class="header">
        <h1>MI Chatbot</h1>
        <img
          class="logo"
          src="{{ img_url }}"
          align="middle"
          alt="Company Logo"
        />
      </div>
      <div class="message-container">
        <div class="messages">
          <!-- This is where the message will be displayed -->
          {{value}}
        </div>
      </div>
      <div class="input-form">
        <input
          type="text"
          id="message"
          placeholder="Type your message here..."
        />
        <button class="submit" type="submit">Push</button>
      </div>
    </div>

    <script src="/static/js/events.js"></script>
  </body>
</html>
